.main_body {
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.box {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    overflow: hidden;
}
.box_nohidden {
    height: 150vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.point {
    background-color: #fedab9;
}
.blue {
    background-color: #afb8ff;
}
.none {
    background-color: #fafafa;
}
.header {
    display: flex;
    justify-content: space-between;
    // background-color: rgba(255, 255, 255, 0.5);
}
.btn {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2.5px solid #6c7dff;
    font-weight: bolder;
}
.btn:hover {
    background-color: #6c7dff;
    border: 2.5px solid transparent;
    color: white;
}
