.fifthPage_box {
    background: #ffffff;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin-top: 50px;
    padding: 20px;
    justify-content: space-between;
    padding-left: 30px;
}
.parent {
    position: relative;
}

.textContainer {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    .first {
        color: white;
        font-size: xxx-large;
        text-align: center;
        font-weight: bolder;
    }
}
.boxContainer {
    display: grid;
    place-items: center;
    min-height: 100vh;
    .first {
        color: white;
        font-size: xxx-large;
        text-align: center;
        font-weight: bolder;
    }
}
.slickContainer {
    position: absolute;
    top: 50vh;
    // left: 45vw;
    transform: translate(0, -50%);
    .first {
        color: white;
        font-size: xxx-large;
        text-align: center;
        font-weight: bolder;
    }
}
.pointColor {
    color: #ff8655;
}
.text {
    font-size: xx-large;
    // text-align: center;
    font-weight: bolder;
}
.thirdPageBox {
    margin: auto;
    width: 66%;
    background-color: #5669ff;
}
.blue {
    color: #5669ff;
}
.spacebetween {
    display: flex;
    justify-content: space-between;
}
.margin {
    padding-top: 20vh;
    margin-bottom: 12px;
}
.fadeUp {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 2000ms, transform 2000ms;
}

.fadeUpVisible {
    opacity: 1;
    transform: translateY(0);
}
.arrowContainer {
    position: absolute;
    bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.arrowContainer.visible {
    opacity: 1;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 2000ms, transform 2000ms;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
